.nav-sgn{
    border: 0;
    border: 2px solid #69ade7;
    background-color: white;
    color: #69ade7;
    font-size: 1.3rem;
    height: 8vh;
    width: 9vw;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
}
.nav-sgn-link{
    text-decoration: none;
    color: #69ade7;
}
.nav-sgn-link:hover{
  
    color: white;
}
button:hover{
    background-color: #69ade7;
    color: white;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    align-items: center;
    gap: 1rem;
 
    padding-right: 5rem;
}

.nav-help{
    border: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
    color: white;
    background-color: #69ade7;
    font-size: 1.3rem;
    height: 8vh;
    width: 9vw;
    border-radius: 10px;
}

@media (max-width: 480px){
    .nav-help{
        width: 25vw;
        border-radius: 3px;
    }
}